;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Mon Jun 30 18:01:26 2014
;; Desktop file format version 206
;; Emacs version 24.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history nil)

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/lucas/Dropbox/projects/ecostartup/ecometrix_site-api/.git/MERGE_MSG"
  "MERGE_MSG"
  'git-commit-mode
  '(auto-fill-mode yas-minor-mode flyspell-mode)
  262
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix) (fill-column . 72)))

