ac-comphist.dat
storage/
*~
*.elc
.trello
elpa
tramp
.emacs.desktop
.emacs.desktop.lock
.session
session*
auto-save-list
url
semanticdb*
.python-environments
.authinfo
image-dired
elisp/init-servers.el
emojis
elpy
abbrev-defs
